<nav class="navbar navbar-expand-lg navbar-light bg-white padded">
  <div class="container">
    <a class="logo" href="#"><img class="logo" src="assets/images/logo/logo.png" alt=""></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-end">
        <li class="nav-item">
            <a class="navbar-brand" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="navbar-brand" [routerLink]="['/service']">Service</a>
        </li>
        <li class="nav-item dropdown">
            <a class="navbar-brand"[routerLink]="['/about']">About</a>
        </li>
        <li class="nav-item">
            <a class="navbar-brand" href="#">Pages</a>
        </li>
        <li class="nav-item">
            <a class="navbar-brand" href="#">Blocks</a>
        </li>
        <li class="nav-item">
            <a class="navbar-brand" href="#">Contact</a>
        </li>

      </ul>
    </div>
    
    <li class="nav-item marginl list-unstyled d-none d-sm-block">
      <a class=" navbar-brand abtn" href="#">BUY NOW</a>
  </li>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  </div>
</nav>
