<div class="container background-gradient">
  <div class="row">
    <div class="col-lg-12">
      <div class="breadcrumb-inner pt--100">
        <h2 class="title">{{frase}}</h2>
        <ul class="page-list">
          <li class="rn-breadcrumb-item"><a href="http://rainbowit.net/html/imroz/index.html">Home</a></li>
          <li class="rn-breadcrumb-item active">{{frase}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="container pt--100">
  <div class="row">
    <div class="col-lg-12 text-center letras">
      <div class=" text-left "><span class="subtitle">Our Marketing</span>
        <h2 class="title">Digital Marketing</h2>
        <p class="description">There are many variations of passages of Lorem Ipsum available,
            but the majority have suffered alteration.</p>
      </div>
    </div>
  </div>
</div>



<div class="container padded">
  <div class="row justify-content-center">

    <div class="col-12 col-md-4  paddedx  efeup" *ngFor="let provider of providerList">
      <a href="http://rainbowit.net/html/imroz/service-details.html">
        <div class="text-left bg-primary padded-card round">
            <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>

          <div class="content">
            <h3 class="title">{{provider["nombreempresa"]}}</h3>
            <p>{{provider["nombrecontacto"]}}</p>
            <p>{{provider["cargocontacto"]}}</p>
          </div>
        </div>
      </a>
    </div>
    
  </div>
</div>
