ul li{
   
    padding-right: 10px;
    list-style:none;
    
    
}
ul{
    margin-left: 0px;
    padding-left: 0px;
    margin-top: -160px;

}
.up{
    padding-left: 70px;

}

.up:hover{
    animation:slideInUp;
    animation-duration: 1 s;
}

h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 62px;
    margin-bottom: 20px;
}
p {
    font-size: 18px;
    line-height: 30px;
    color: var(--color-gray);
}
span{
    margin-bottom: 12px;
}
.letras{
    margin-bottom: 25px;

}

/* .degradado:hover{
    background: linear-gradient(180, red, white);
    color: white;
    z-index: 5;

} */

.subtitle {
    background: #1C99FE;
    background: -webkit-linear-gradient(to right, #1C99FE 0%, #8F4EEB 50%, #fd4766 100%);
    background: -moz-linear-gradient(to right, #1C99FE 0%, #8F4EEB 50%, #fd4766 100%);
    background: linear-gradient(to right, #1C99FE 0%, #8F4EEB 50%, #fd4766 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 12px;
  }

  

.content{
    color: white;
    margin-bottom: 160px;

}


.border-5{
    border-width: 20px !important;
    border-color: white !important;
}
