
    <footer class="footer-area footer-style-01 bg-d text-white ">
        <div class="im-call-to-action-area ptb--70 im-separator ">
            <div class="container">
                <div class="row align-items-center paddefot">
                    <div class="col-lg-8 col-xl-6 col-md-12 col-sm-12 col-12">
                        <div class="inner">
                            <h2 class="text-white p-5">Enough Talk, Let's Build <br> Something Together</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-4 offset-xl-2 col-md-12 col-sm-12 col-12">
                        <div class="call-to-cation-tbn text-left text-lg-right mt_md--20 mt_sm--20">
                            <a class="btn-default btn-large btn-border btn-opacity abutton" href="#button">Read Out Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <hr>
            </div>
        </div>
        
        <div class="footer-wrapper ptb--70 paddefot2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 ">
                        <div class="ft-text">
                            <div class="logo">
                                <a href="http://rainbowit.net/html/imroz/index.html">
                                    <img src="http://rainbowit.net/html/imroz/assets/images/logo/logo-light.png" alt="Digital Agency">
                                </a>
                            </div>
                            <p>Copyright © 2021 <a href="http://rainbowit.net/html/imroz/index.html">Imroz</a> React Template. Built with love in Bangladesh All
                                rights reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-xl-2 offset-xl-1 col-md-6 col-sm-6 col-12 mt_mobile--40">
                        <div class="footer-link">
                            <h4>Quick Link</h4>
                            <ul class="ft-link">
                                <li>
                                    <a href="http://rainbowit.net/html/imroz/portfolio.html">Portfolio</a>
                                </li>
                                <li>
                                    <a href="http://rainbowit.net/html/imroz/about.html">About</a>
                                </li>
                                <li>
                                    <a href="http://rainbowit.net/html/imroz/blog.html">Our Blog</a>
                                </li>
                                <li>
                                    <a href="http://rainbowit.net/html/imroz/team.html">Our Team</a>
                                </li>
                                <li>
                                    <a href="http://rainbowit.net/html/imroz/contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 col-12 mt_md--40 mt_sm--40">
                        <div class="footer-link">
                            <h4>Company</h4>
                            <ul class="ft-link">
                                <li>
                                    <a href="http://rainbowit.net/html/imroz/portfolio.html">Portfolio</a>
                                </li>
                                <li>
                                    <a href="http://rainbowit.net/html/imroz/about.html">About</a>
                                </li>
                                <li>
                                    <a href="http://rainbowit.net/html/imroz/blog.html">Our Blog</a>
                                </li>
                                <li>
                                    <a href="http://rainbowit.net/html/imroz/team.html">Our Team</a>
                                </li>
                                <li>
                                    <a href="http://rainbowit.net/html/imroz/contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt_md--40 mt_sm--40">
                        <div class="footer-link">
                            <h4>Say Hello</h4>
                            <ul class="ft-link">
                                <li>Email: <a href="mailto:admin@example.com">admin@example.com</a></li>
                                <li>Email: <a href="mailto:hr@example.com">hr@example.com</a></li>
                                <li>Phone: <a href="mailto:hr@example.com">01957485123</a></li>
                            </ul>
                            <div class="social-share-inner mt--20">
                                <ul class="social-share social-style--2 d-flex justify-content-start liststyle">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
